[Unit]
Description=Aurora light system
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/Aurora/
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Aurora/pixelcam.py &> /dev/null
Restart=always
[Install]
WantedBy=multi-user.target