[Unit]
Description=Aurora light system
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/Aurora/
User=root
Type=idle
ExecStart=/usr/bin/sudo /usr/bin/python3 Aurora.py 2>&1 > /var/log/Aurora.log 
Restart=always
[Install]
WantedBy=multi-user.target
