{% include 'header.html' %}
        {% if configured == False %}
        <div class="alert mr-3 ml-3 rounded-s bg-yellow-dark" role="alert">
            <span class="alert-icon color-white"><i class="fa fa-exclamation-triangle font-18"></i></span>
            <h4 class="color-white font-">Not configured</h4>
            <strong class="alert-icon-text color-white " >Please <a href="/configure/" class="color-dark-dark font-700 text-uppercase" style="text-decoration: underline;">configure</a> your LEDs now</strong>
            <button type="button" class="close color-white opacity-60 font-16" data-vibrate="50" data-dismiss="alert" aria-label="Close">&times;</button>
        </div> 
        {% endif %}
        
        <div class="card card-style alert" role="aldddert">
            <div class="d-flex py-2">
                <div>
                    <i class="fab fa-github color-black-dark mr-3 fa-3x "></i>
                </div>
                <div>
                    <p class="color-highlight mb-n1 font-12 font-600">Update from GitHub</p>
                    <h1 class="mb-0">Update Aurora</h1>
                </div>
                
            </div>
            <div class="">
                <strong>Current Version:</strong> {{current_version}}<br/>
                <strong>GitHub Version:</strong> {{github_version}}<br/>

                
            </div>
        </div>
        
        <div class="card card-style alert" role="aldddert">
            <div class="d-flex py-2">
                <div>
                    <i class="fa fa-check-circle mr-3 scale-box fa-3x color-green-dark"></i>
                </div>
                <div>
                    <p class="color-highlight mb-n1 font-12 font-600">Current loaded config</p>
                    <h1 class="mb-0">Configuration</h1>
                </div>
                
            </div>
            <div class="pl-5">
                <table>
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in config.items() %}
                            {% for key2, value2 in value.items() %}
                                <tr><td>{{key2}}</td><td>{{value2}}</td></tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        

        
        <!-- These are specific and dynamic to this page -->
        <script type="text/javascript">
            var extensions = {{extensions_meta}}
        </script>
        {% include 'footer.html' %}