{% include 'header.html' %}
<div class="card card-style" style="max-width:40rem;">
    <div class="content mb-0">
        <p class="mb-n1 color-highlight font-600">Aurora</p>
        <h1>Pixel Configuration</h1>
        <p class="mb-1">
            Your LED strip will be showing the colours depicted in the image below, look at the colours and configure
            the amount of LEDs per side accordingly, once you are happy hit save!
        </p>
        <div class="row mb-1 text-center d-flex justify-content-center">
            <div class="col-12 pl-5  justify-content-center text-center d-flex">Darkness threshold:&nbsp;
                    <div class="stepper rounded-s display:block">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-red-dark"></i></a>
                        <input type="number" id="aurora_config_darkthreshhold" min="1" max="250" value="{{pixels_darkthreshold}}">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-green-dark"></i></a>
                    </div>
                
            </div>
        </div>
        <div class="row mb-1 text-center d-flex justify-content-center">
            <div class="col-4 ">
                Left:
                <div class="mx-auto">
                    <div class="stepper rounded-s float-left">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-red-dark"></i></a>
                        <input type="number" id="aurora_configure_left" min="1" max="250" value="{{pixels_left}}">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-green-dark"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-4">
                Right:
                <div class="mx-auto">
                    <div class="stepper rounded-s float-left">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-red-dark"></i></a>
                        <input type="number" id="aurora_configure_right" min="1" max="250" value="{{pixels_right}}">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-green-dark"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3 text-center d-flex justify-content-center">
            <div class="col-4 ">
                Top:
                <div class="mx-auto">
                    <div class="stepper rounded-s float-left">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-red-dark"></i></a>
                        <input type="number" min="1" id="aurora_configure_top" max="250" value="{{pixels_top}}">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-green-dark"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-4">
                Bottom:
                <div class="mx-auto">
                    <div class="stepper rounded-s float-left">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-red-dark"></i></a>
                        <input type="number" min="1" id="aurora_configure_bottom" max="250" value="{{pixels_bottom}}">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-green-dark"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <a href="#" id="aurora_configure_save_button"
                class="btn btn-m btn-full mb-3 rounded-xs text-uppercase font-900 shadow-s bg-green-dark">Save
                Configuration</a>
        </div>

        <p>
            <img class="img-fluid" id="pixel_image" src="/load_pixel_image/" />
        </p>
        <div class="col-4 pt-2">
            <!-- <div class="row mb-2">
                    <div class="">
                        Saturation:&nbsp;&nbsp;
                    </div>
                    <div>
                        <input id="hdmi_saturation" type="range" data-slider-min="0" data-slider-max="255" data-slider-step="1"
                        data-slider-value="{{hdmi_saturation}}" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="">
                        Brightness
                    </div>
                    <div>
                        <input id="hdmi_brightness" type="range" data-slider-min="0" data-slider-max="255" data-slider-step="1"
                    data-slider-value="{{hdmi_brightness}}" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="">
                        Contrast
                    </div>
                    <div>
                        <input id="hdmi_contrast" type="range" data-slider-min="0" data-slider-max="255" data-slider-step="1"
                    data-slider-value="{{hdmi_contrast}}" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="">
                        Hue
                    </div>
                    <div>
                        <input id="hdmi_hue" type="range" data-slider-min="0" data-slider-max="255" data-slider-step="1"
                    data-slider-value="{{hdmi_hue}}" />
                    </div>
                </div> 
                
                <div class="row mb-2">
                    <div class="pr-3">
                        Gamma
                    </div>
                    <div>
                        <input id="hdmi_gamma" type="range" data-slider-min="0" data-slider-max="10" data-slider-step="0.5"
                    data-slider-value="{{hdmi_gamma}}" />
                    </div>
                </div>

  

            
            <a href="#" id="resetHDMI" onclick="reset_gamma('{{hdmi_gamma}}')"
                class="btn btn-3d btn-sm  mb-3 rounded-xs text-uppercase font-900 shadow-s border-red-dark bg-red-light">Reset</a>
            <a href="#" onclick="reloadImages();" id="reloadHMDI"
                class="btn btn-3d btn-sm  mb-3 rounded-xs text-uppercase font-900 shadow-s border-blue-dark bg-blue-light">Reload
                Image</a>
                <a href="#" onclick="save_hdmi_image();" id="aurora_configure_save_button"
                class="btn btn-sm mb-3 rounded-xs text-uppercase font-900 shadow-s bg-green-dark">Save
                Configuration</a>

        </div>
        <p>
            <img class="img-fluid" id="image_screenshot" src="/load_screenshot"  />
            
        </p>
        -->
        <div class="d-flex justify-content-center">
            
        </div>

    </div>


</div>
{% include 'footer.html' %}