</div>
<!-- Page content ends here-->



<!-- Main Menu-->
<div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="/assets/menu/menu-main.html"
    data-menu-width="280" data-menu-active="nav-pages"></div>

<!-- Share Menu-->
<!-- <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>   -->

<!-- Colors Menu-->
<!-- <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div>  -->


</div>

<div>
    <a href="#" class="back-to-top-icon back-to-top-icon-circle bg-highlight color-white shadow-m"><i
            class="fa fa-angle-up"></i></a>
</div>

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-slider.min.js"></script>

<script type="text/javascript" src="/assets/js/aurora-generic.js"></script>
{%if page=="home" %}
<script type="text/javascript" src="/assets/js/aurora-index.js"></script>
{%elif page=="configure" %}
<script type="text/javascript" src="/assets/js/aurora-configure.js"></script>
{%elif page=="view" %}
<script type="text/javascript" src="/assets/js/aurora-view.js"></script>
{% endif %}
<script type="text/javascript" src="/assets/js/custom.js"></script>
</body>