<div class="menu-title">
    <p class="color-highlight font-600">Choose your Favorite</p>
    <h1>Highlight</h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="divider divider-margins mt-3 mb-2"></div>
<div class="content mt-0 ml-0 mr-0">
    <div class="row mb-0">
        <div class="col-6">
            <div class="highlight-changer list-group list-custom-small list-menu">
                <a href="#" class="menu-active" data-highlight-style="styles/highlights/highlight-blue.css">
                    <i class="gradient-blue color-white"></i>
                    <span>Blue</span>
                </a>     
                <a href="#" data-highlight-style="styles/highlights/highlight-red.css">
                    <i class="gradient-red color-white"></i>
                    <span>Red</span>
                </a>        
                <a href="#" data-highlight-style="styles/highlights/highlight-orange.css">
                    <i class="gradient-orange color-white"></i>
                    <span>Orange</span>
                </a>     
                <a href="#" data-highlight-style="styles/highlights/highlight-green.css">
                    <i class="gradient-green color-white"></i>
                    <span>Green</span>
                </a>        
                <a href="#" data-highlight-style="styles/highlights/highlight-yellow.css">
                    <i class="gradient-yellow color-white"></i>
                    <span>Yellow</span>
                </a>        
            </div>
        </div>
        <div class="col-6">
            <div class="highlight-changer list-group list-custom-small list-menu">
                <a href="#" data-highlight-style="styles/highlights/highlight-dark.css">
                    <i class="gradient-dark color-white"></i>
                    <span>Dark</span>
                </a>        
                <a href="#" data-highlight-style="styles/highlights/highlight-gray.css">
                    <i class="gradient-gray color-white"></i>
                    <span>Gray</span>
                </a>     
                <a href="#" data-highlight-style="styles/highlights/highlight-teal.css">
                    <i class="gradient-teal color-white"></i>
                    <span>Teal</span>
                </a>        
                <a href="#" data-highlight-style="styles/highlights/highlight-magenta.css">
                    <i class="gradient-magenta color-white"></i>
                    <span>Plum</span>
                </a>       
                <a href="#" data-highlight-style="styles/highlights/highlight-brown.css">
                    <i class="gradient-brown color-white"></i>
                    <span>Brown</span>
                </a>     
            </div>
        </div>
    </div>
</div>
<div class="divider divider-margins mt-2"></div>
<a href="#" class="close-menu btn btn-margins btn-m font-13 rounded-s shadow-xl btn-full gradient-highlight border-0 font-700 text-uppercase">Awesome</a>
