<div class="menu-title">
    <p class="color-highlight">Tap a link to</p>
    <h1>Share</h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="divider divider-margins mt-3 mb-0"></div>
<div class="content mt-0">
    <div class="list-group list-custom-small list-icon-0">
        <a href="#" class="shareToFacebook">
            <i class="fab fa-facebook-f font-12 bg-facebook color-white shadow-l rounded-s"></i>
            <span>Facebook</span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
        <a href="#" class="shareToTwitter">
            <i class="fab fa-twitter font-12 bg-twitter color-white shadow-l rounded-s"></i>
            <span>Twitter</span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
        <a href="#" class="shareToLinkedIn">
            <i class="fab fa-linkedin-in font-12 bg-linkedin color-white shadow-l rounded-s"></i>
            <span>LinkedIn</span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
        <a href="#" class="shareToWhatsApp">
            <i class="fab fa-whatsapp font-12 bg-whatsapp color-white shadow-l rounded-s"></i>
            <span>WhatsApp</span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
        <a href="#" class="shareToEmail border-0">
            <i class="fa fa-envelope font-12 bg-mail color-white shadow-l rounded-s"></i>
            <span>Email</span>
            <i class="fa fa-angle-right pr-1"></i>
        </a>
    </div>
</div>
